body {
  margin:0;
  padding:0;
  font-family: sans-serif;
}

#map {
  top:0;
  bottom:0;
  width:100%;
  height: 100vh;
}

.maplibregl-popup-content {
  font-size: 1rem;
  line-height: 1.3rem;

  h3 {
    margin: 0;
  }

  .collection {
    font-size: 0.9rem;
  }

  a, a:visited {
    color: blue;
  }

  a.btn, a.btn:visited {
    display: inline-block;
    color: #fff;
    background: #000;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 3px;
    box-shadow: 0px 2px 5px 1px #999;
    display: block;
    text-align: center;
    font-weight: bold;
  }
  a.btn:hover {
    color: #000;
    background: #fff;
  }
}
